.img {
    border-radius: 30px;
}

.discrptionBlock {
    padding: 10px;
}


.discrptionBlock img {
    width: 200px;
    border-radius: 50%;
    border: 5px solid rgb(137, 139, 139); 
}

.contact {
    padding-left: 20px;
}
 