.nav {
    grid-area: n;
    padding: 20px;
  }

.item a{
    text-decoration: none;
    color: grey;
}

.item a.activeLink {
    color: aqua;
}

.contacts {
    padding-top: 75px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}